APP_PORT=8001

# Postgres
POSTGRES_HOST=taskgraph-db
POSTGRES_PORT=5436
POSTGRES_DB=taskgraph-db
POSTGRES_USER=taskgraph-db
POSTGRES_PASSWORD=taskgraph-db-password

# Goose Migrations
GOOSE_MIGRATION_DIR=/app/migrations
GOOSE_TABLE=goose_migrations